.team-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__name {
    margin: 0 0 8px;
  }

  &__description {
    margin: 0 0 16px;
  }

  &__url {
    margin: 0 0 16px;
  }

  &__sports {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__sports-label {
    margin: 0 8px 0 0;
    font-weight: bold;
  }

  &__sport {
    margin: 0 4px;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: #eee;
    font-size: 14px;
  }
}
